//============site color=========//
//banner color
$main-color: #34495e !default; //#00bcd5
//header and footer font color
$theme-font-color: #fff !default;
//header background color
$nav-color: rgba(52,73,94,.9) !default; //rgba(0,188,213,.9)
//theme's main red color
$main-red: #f6695f !default;
//post font color
$main-font-color: #34495e !default;
// footer copyright-color
$copyright-color: #aaa !default;
// content width
$main-width: 960px !default;
//footer height
$footer-height: 170px !default;

//=== table start ====//
$table-border-color: #dfe2e5;
$table-head-bg-color: #f2f2f2;
$table-row-even-bg-color: #fafafa;
$table-row-hover-bg-color: #f5f5f5;
//=== table end ====//

//font-family
@font-face {
  font-family: 'Playball';
  src: url('../fonts/Playball/Playball-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Satisfy';
  src: url('../fonts/Satisfy/Satisfy-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

// Serif font family of the site.
// $global-serif-font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, Liberation Mono, Courier New, monospace !default;
$global-serif-font-family: 'Source Sans Pro', 'Helvetica Neue', Arial, sans-serif !default;

//art font family
$art-font: 'Satisfy', cursive, LiSu, sans-serif !default;

//logo font family
$logo-font: 'Playball', cursive !default;

//heading font size
$global-headings: (
  h1: 26px,
  h2: 24px,
  h3: 20px,
  h4: 16px,
  h5: 14px,
  h6: 14px
) !default;
@each $header, $size in $global-headings {
  #{$header} {
    font-size: $size;
    font-family: $global-serif-font-family;
  }
}
