.archives-container{
  min-height: 400px;
  padding: 30px 40px;
  margin-bottom: 10px;
  background: #fff;
  box-shadow: 0 0 3px rgba(0,0,0,.15);
  .archive-year{
    line-height: 1;
    font-size: 30px;
    margin: 10px 10px 15px;
    color: $main-font-color;
  }
  .archive-article{
    display: block;
    text-decoration: none;
    padding: 10px;
    transition: all .3s;
    border-right: 3px solid transparent;
    border-left: 3px solid transparent;
    cursor: pointer;
    .archive-meta{
      color: #8a8a8a;
    }
    .archive-title{
      color: $main-font-color;
      font-size: 20px;
      padding-left: 20px;
    }
    &:hover{
      transform: translateY(-5px);
      box-shadow: 0 5px 10px #eaeaea;
      border-color: $main-red;
      .archive-title{
        color: $main-red;
      }
    }
  }
}
