.banner{
  position: relative;
  .show{
    position: relative;
    z-index: 2;
    font-size: 65px;
    height: 500px;
    background: $main-color;
    color: $theme-font-color;
    text-align: left;
    .banner-title{
      position: absolute;
      width: 100%;
      max-width: 960px;
      padding-left: 16px;
      transform: translateX(-50%);
      left: 50%;
      top: 36%;
      font-family: $art-font;
      .intro {
        opacity: 0;
      }
      .post-title{
        font-size: 36px;
        font-family: $global-serif-font-family;
        .post-tags {
          padding: 20px 0 0;
          display: flex;
          justify-content: flex-start;
          align-items: center;
          flex-wrap: wrap;
          gap: 5px;

          a {
            display: inline-block;
            text-decoration: none;
            color: $theme-font-color;
            border: 1px solid $theme-font-color;
            border-radius: 2px;
            padding: 0 10px;
            font-size: 14px;
            transition: all .3s;
            &:before{
              content: "#";
              font-size: 16px;
            }
            &:hover{
              background: $theme-font-color;
              color: $main-color;
            }
          }
        }
      }
    }
  }
}
