.category-container{
  .category-meta{
    font-size: 24px;
    padding-left: 20px;
    border-left: 2px solid $main-red;
  }
  ul{
    border-left: 2px dashed $main-red;
    margin-left: 40px;
    padding-left: 20px;

    li{
      font-size: 18px;
      list-style: none;
      a.category-item{
        display: inline-block;
        text-decoration: none;
        margin: 5px 0;
        transition: color .3s;
        i{
          font-size: 26px;
        }
        &:hover{
          color: $main-red;
        }
      }
    }
  }
  a.category-item{
    span{
      font-size: 16px;
      color: #8a8a8a;
    }
  }
  .category-item-name{
    font-size: 18px;
    margin: 0 0 20px;
    font-weight: normal;
    line-height: 1;
    padding-left: 20px;
    color: #9d9d9d;
    i {
      font-size: 26px;
    }
  }
  .category-item{
    a{
      display: block;
      text-decoration: none;
      padding: 10px;
      transition: all .3s;
      border-right: 3px solid transparent;
      border-left: 3px solid transparent;
      cursor: pointer;
      time{
        font-size: 16px;
        color: #8a8a8a;
      }
      .category-title{
        color: $main-font-color;
        font-size: 20px;
        padding-left: 20px;
      }
      &:hover{
        transform: translateY(-5px);
        box-shadow: 0 5px 10px #eaeaea;
        border-color: $main-red;
        .category-title{
          color: $main-red;
        }
      }
    }
  }
}
