/*=====responsive======*/
@media only screen and (min-width: 800px){
  header.site-nav{
    display: block;
  }
  .post .mobile-post-title{
    display: none;
  }
}

@media only screen and (max-width: 1440px){
  .post-toc{
    display: none;
  }
}

@media only screen and (max-width: 800px){
  html,
  body{
    height: auto;
  }
  .page>.container{
    padding-bottom: 190px;
  }
  .mobile-header{
    display: block;
  }
  header.site-nav{
    display: none;
  }
  .banner .show{
    display: none;
  }
  main{
    margin: 60px 16px 10px;
  }
  .post .mobile-post-tilte{
    display: block;
  }
  .back-to-top{
    right: 20px;
    bottom: 50px;
  }
  article#post-excerpt{
    header {
      h1{
        font-size: 22px;
        margin: 0;
      }
      .post-meta{
        margin-bottom: 0;
      }
    }
    .post-tags a{
        padding: 0;
    }
  }
  article.post{
    padding: 10px;
    .mobile-post-title > h1{
      border-left: 3px solid $main-color;
      margin: -10px 0 0 -10px;
      padding: 12px 0 12px 10px;
    }
    .post-meta{
      .post-time{
        font-size: 14px;
        margin-bottom: 0;
        font-weight: normal;
        color: #8a8a8a;
        i{
          font-weight: normal;
        }
      }
    }
    #read-more{
      margin: 5px 0;
      a{
        font-size: 14px;
        padding: 3px;
      }
    }
    $mobile-headings: (
      h1: 20px,
      h2: 18px,
      h3: 16px,
      h4: 15px,
      h5: 15px,
      h6: 14px
    ) !default;
    @each $mobile-header, $mobile-size in $mobile-headings{
      #{$mobile-header}{
        font-size: $mobile-size;
      }
    }
  }
  .archives-container{
    min-height: 400px;
    padding: 15px 20px 30px;
    .archive-year{
      font-size: 24px;
      padding: 0 10px;
      margin: 15px 0 5px 10px;
      border-left: 2px solid $main-red;
    }
    .archive-article{
      padding: 5px;
      .archive-title{
        font-size: 16px;
        padding-left: 10px;
      }
      .archive-meta{
        font-size: 12px;
      }
    }
  }
  .category-container{
     padding: 30px 20px;
     ul{
       margin-left: 20px;
       li a.category-item{
          font-size: 16px;
          i{
            font-size: 22px;
          }
        }
     }
     a.category-item{
       span{
         font-size: 14px;
       }
     }
     .category-item a{
       padding: 5px;
       .category-title{
         font-size: 16px;
       }
       time{
         font-size: 12px;
       }
     }
     .category-item-name{
       border-left: 2px solid $main-red;
     }
   }
   .tags-container{
     min-height: 400px;
     padding: 30px 20px;
     .tags-content{
       margin-top: 20px;
     }
   }
  .pagination.post-nav{
    margin: 0 16px;
    a{
      text-decoration: none;
    }
    .next-post{
      float: none;
      display: block;
      color: #0099cc;
    }
    .prev-post{
      float: none;
      display: block;
      color: #0099cc;
    }
  }
  footer{
    .social-links a i{
      margin: 0 10px;
    }
    .quote{
      font-size: 14px;
      p:before{
        font-size: 35px;
        margin-top: -35px;
      }
    }
    .copyright{
      font-size: 12px;
      margin-top: 10px;
      p{
        margin: 0;
      }
    }
  }
}
