/*=====responsive======*/
@media only screen and (min-width: 800px){
  header.site-nav{
    display: block;
  }
  .post .mobile-post-title{
    display: none;
  }
}

@media only screen and (max-width: 1440px){
  .post-toc{
    display: none;
  }
}

@media only screen and (max-width: 800px){
  html,
  body{
    height: auto;
  }
  .mobile-header{
    display: block;
  }
  header.site-nav{
    display: none;
  }
  .banner .show{
    display: none;
  }
  main{
    margin: 60px 16px 10px;
  }
  .page > .container {
    min-height: auto;
  }
  .post .mobile-post-tilte{
    display: block;
  }
  .back-to-top{
    right: 20px;
    bottom: 50px;
  }
  article#post-excerpt{
    header {
      h1{
        font-size: 24px;
        margin: 0;
      }
      .post-meta{
        margin-bottom: 0;
      }
    }
    .post-tags a {
      padding: 0 5px;
    }
  }

  article.post{
    padding: 15px 10px;
    .mobile-post-title > h1{
      border-left: 3px solid $main-color;
      margin: -15px 0 0 -10px;
      padding: 12px 0 12px 10px;
    }

    &.about {
      .mobile-post-title > h1{
        margin: -10px 0 0 -20px;
      }
    }

    .post-meta{
      .post-time{
        font-size: 14px;
        margin-bottom: 0;
        font-weight: normal;
        color: #8a8a8a;
        i{
          font-weight: normal;
        }
      }
    }
    #read-more{
      a{
        font-size: 14px;
      }
    }
    $mobile-headings: (
      h1: 24px,
      h2: 18px,
      h3: 16px,
      h4: 15px,
      h5: 15px,
      h6: 14px
    ) !default;
    @each $mobile-header, $mobile-size in $mobile-headings{
      #{$mobile-header}{
        font-size: $mobile-size;
      }
    }
  }
  .tags-container {
    min-height: 66dvh;
  }
  .archives-container{
    padding: 15px;
    min-height: 66dvh;
    .tag-title {
      margin: 0;
    }

    .archive-year{
      margin: 10px 0;
    }
    .archive-article{
      padding: 5px;
      .archive-title{
        font-size: 16px;
        padding-left: 10px;
      }
      .archive-meta{
        font-size: 12px;
      }
    }
  }
  .category-container{
    padding: 30px 20px;
    ul{
      margin-left: 20px;
      li a.category-item{
          font-size: 16px;
          i{
            font-size: 22px;
          }
        }
    }
    a.category-item{
      span{
        font-size: 14px;
      }
    }
    .category-item a{
      padding: 5px;
      .category-title{
        font-size: 16px;
      }
      time{
        font-size: 12px;
      }
    }
    .category-item-name{
      border-left: 2px solid $main-red;
    }
  }
  footer{
    .social-links a i{
      margin: 0 10px;
    }
    .quote{
      font-size: 14px;
      p:before{
        font-size: 35px;
        margin-top: -35px;
      }
    }
    .copyright{
      font-size: 12px;
      margin-top: 10px;
      p{
        margin: 0;
      }
    }
  }
}
