*{
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}
#mobile-nav{
  .slideout-menu{
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    z-index: 0;
    color: $main-font-color;
    background: #f6f6f6;
    width: 180px;
    display: none;
    padding-top: 100px;
    a{
      text-align: center;
      width: 180px;
      font-size: 18px;
      display: block;
      text-decoration: none;
      margin: 20px 0;
      padding: 5px 0;
    }
    .mobile-intro{
      opacity: 0;
      text-align: center;
      width: 150px;
      font-family: $art-font;
      margin: 50px 10px 0;
      font-size: 18px;
      i{
        font-size: 30px;
      }
    }
  }
}
.slideout-open {
  overflow: hidden;
  .slideout-panel{
    position: relative;
    z-index: 2;
    will-change: transform;
    box-shadow: 0 0 10px rgba(0,0,0,.2);
  }
  body,
  .slideout-panel{
    overflow: hidden;
  }
  #mobile-nav .slideout-menu{
    display: block;
  }
}
.fixed-mobile{
  transform: translateX(180px);
}
.mobile-header{
  display: none;
  width: 100%;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 9;
  background: $main-color;
  box-shadow: 0 2px 10px rgba(52,73,94,.9);
  span,a{
    color: $theme-font-color;
  }
  span{
    float: left;
    margin-left: 12px;
    margin-top: 6px;
    cursor: pointer;
    padding: 0 10px;
    i{
      font-size: 22px;
    }
  }
  .mobile-logo{
    opacity: 0;
    text-align: center;
    a{
      font-size: 30px;
      text-decoration: none;
      font-family: $logo-font;
      margin-right: 42px;
    }
    .mobile-intro-placeholder {
      font-family: $art-font;
      opacity: 0;
      height: 0;
    }
  }
}
