table {
  border-collapse: collapse;
  border-spacing: 0;
  font-size: 14px;
  margin: 0 0 20px;
  width: 100%;
}

tbody tr {
  &:nth-of-type(even) {
    background: $table-row-even-bg-color;
  }

  &:hover {
    background: $table-row-hover-bg-color;
  }
}

caption, th, td {
  padding: 8px;
}

th, td {
  border: 1px solid $table-border-color;
}

th {
  background: $table-head-bg-color;
  font-weight: 700;
  padding-bottom: 10px;
}

td {
  border-bottom-width: 1px;
}