#disqus_thread{
  margin-bottom: 30px;
}
footer{
  height: $footer-height;
  background: $main-color;
  text-align: center;
  color: $theme-font-color;
  font-size: 16px;
  .social-links a i{
    display: inline-block;
    margin: 10px;
    color: $theme-font-color;
    font-size: 30px;
    transition: color .3s;
    &:hover{
      color: #f6695f;
    }
  }
  .quote p{
    margin: 0 20px;
    &:before{
    content: "“";
    font-size: 45px;
    font-family: "黑体";
    display: inline-block;
    color: #ff665f;
    margin-top: -45px;
    }
  }
  .copyright{
    font-size: 12px;
    color: $copyright-color;
    margin: 0;
    p{
      margin: 10px 0 0;
    }
    a{
      color: #0099cc;
      text-decoration: none;
      &:hover{
        text-decoration: underline;
      }
    }
  }
}
